@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary-green: #36b37e;
  --secondary-green: #c5e9da;
  --dark: #172b4d;
}

/* text color */
.primary-green {
  color: #36b37e;
}

.secondary-green {
  color: #c5e9da;
}

.tone-green {
  color: #ebf0ee;
}

.dark {
  color: #172b4d;
}

.white {
  color: #fff;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

/* mobile */
@media screen and (min-width: 375px) {
  /* header section */
  .header {
    display: flex;
    height: 5vh;
    justify-content: center;
  }

  .header-container {
    display: flex;
    justify-content: end;
    width: 90%;
  }

  .header nav {
    display: none;
  }

  /* heroku section */
  .heroku {
    position: relative;
    background-image: url(/assets/header-illsutration-mobile@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .heroku-container {
    width: 85%;
  }

  .primary-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .support-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .socialmedia-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  .socialmedia-wrapper li a {
    color: var(--dark);
  }

  .action-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
  }

  .arrow-icon {
    fill: #172b4d;
  }

  .scroll-button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
  }

  .scroll-button:hover {
    background-color: var(--primary-green);
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  }

  .scroll-button:hover .arrow-icon {
    fill: white;
  }

  /* work section */
  .divider-rounded {
    border-top: 8px solid var(--primary-green);
    border-radius: 5px;
    width: 30%;
  }

  .card-container {
    margin-block: 60px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .card {
    height: 55vh;
    background-color: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  .card-image {
    height: 53%;
    background-color: #d0d9d4;
  }

  .card-info {
    height: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .card-title {
    height: 25%;
  }

  .tag-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .tag {
    list-style: none;
    background-color: #ebf0ee;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
  }

  .card-button {
    padding: 12px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  /* about me section */
  .aboutme {
    position: relative;
    margin-bottom: 30px;
    width: 85%;
  }

  .aboutme::before {
    position: absolute;
    content: "";
    background: url(assets/illustration1-aboutme-mobile.svg);
    width: 68px;
    height: 110px;
    top: -13%;
    right: -10%;
  }

  .aboutme::after {
    position: absolute;
    content: "";
    background: url(assets/illustration2-aboutme-mobile.svg);
    width: 71px;
    height: 58px;
    bottom: 0;
    left: -10%;
  }

  .get-resume-button {
    padding: 12px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    width: auto;
  }

  .aboutme-box-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-block: 20px;
    padding: 0;
  }

  .box {
    aspect-ratio: 9/10;
    width: 100%;
    background-color: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    box-sizing: border-box;
    padding-inline: 8px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 24px;
  }

  .aboutme-title {
    height: 15%;
  }

  .icon-container {
    height: 30%;
  }

  .list-aboutme {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 8px;
  }

  .list-item-aboutme {
    background: #fff;
    border-radius: 8px;
    list-style: none;
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  /* form section */
  .mobile-hidden {
    display: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
  }

  .form-container::after {
    content: "";
    position: absolute;
    background-image: url(/assets/Frame.svg);
    bottom: -20%;
    right: -10%;
    width: 63px;
    height: 146px;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .form-container input {
    padding: 15px 16px;
  }

  .form-container input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .form-container textarea {
    padding: 12px;
    height: 114px;
  }

  .form-container textarea::placeholder {
    /* font-style: italic; */
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .form-container input:hover,
  .form-container input:focus,
  .form-container textarea:hover,
  .form-container textarea:focus {
    border: 1px solid #60c095;
    outline: 1px solid #60c095;
  }

  .form-container button {
    place-self: center;
  }

  /* footer section */
  .footer {
    margin-top: 10px;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    width: 65%;
    margin-block: 30px;
  }

  .divider-footer {
    margin: 0;
    border-top: 6px solid var(--dark);
    border-radius: 5px;
    width: 50%;
  }
}

/* dekstop */
@media screen and (min-width: 768px) {
  /* header section */

  .header {
    height: 72px;
    background-color: transparent;
  }

  .header svg {
    display: none;
  }

  .header-container {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
  }

  .header nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header nav ul {
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 8px;
    list-style: none;
  }

  .header nav ul li a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 140vh;
    z-index: -1;
    background-image: url(assets/Header-llustration-desktop.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* heroku section */
  .heroku {
    background-image: none;
    padding-top: 10vh;
  }

  .heroku-container {
    width: 770px;
  }

  .dekstop-hidden {
    display: none;
  }

  .primary-text {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .support-text {
    line-height: 32px;
  }

  .socialmedia-wrapper {
    justify-content: center;
    gap: 15px;
  }

  .action-button-wrapper {
    bottom: 30%;
  }

  /* work section */

  .works {
    margin-bottom: 192px;
  }

  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;
    column-gap: 32px;
  }

  .card {
    width: 369px;
    height: 474px;
    justify-self: center;
  }

  .card-title {
    height: auto;
    width: 60%;
  }

  /* aboutme section */

  .aboutme {
    width: 770px;
  }

  .aboutme::before {
    position: absolute;
    content: "";
    background: url(assets/illustration2-aboutme-dekstop.svg);
    width: 224px;
    height: 245px;
    top: -50%;
    right: -45%;
  }

  .aboutme::after {
    position: absolute;
    content: "";
    background: url(assets/illustration1-aboutme-dekstop.svg);
    width: 236px;
    height: 128px;
    bottom: -0%;
    left: -45%;
    z-index: -1;
  }

  .aboutme-box-container {
    flex-direction: row;
    justify-content: center;
  }

  .box {
    width: 343px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
  }

  /* form section */
  .form {
    display: flex;
    margin-top: 97.5px;
    height: 490px;
    position: relative;
  }

  .form::before {
    content: "";
    position: absolute;
    background-image: url(/assets/form-ilustration1-dekstop.svg);
    width: 194px;
    height: 352px;
    left: -10%;
    bottom: -10%;
  }

  .form::after {
    content: "";
    position: absolute;
    background-image: url(/assets/form-ilustration2-dekstop.svg);
    width: 131px;
    height: 106px;
    left: 10%;
    bottom: 10%;
  }

  .form-container::after {
    background-image: url(/assets/form-ilustration3-dekstop.svg);
    width: 223px;
    height: 496px;
    bottom: -10%;
    right: -15%;
  }

  .mobile-hidden {
    display: block;
  }

  .form h2 {
    font-size: 30px;
    width: 45%;
    text-align: left;
  }

  .form-container {
    width: 55%;
  }

  .form-container button {
    place-self: start;
  }

  .first-last-name-container {
    display: flex;
    gap: 24px;
  }

  /* footer */
  .footer {
    margin-top: 72px;
    border-top: 1px gray solid;
  }
}

/* utility class */
.section-container {
  width: 85%;
}

.margin-zero {
  margin: 0;
}

.button {
  background-color: var(--primary-green);
  border-radius: 4px;
  border: none;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:focus {
  background-color: #008552;
}

.center-text {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.title-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.width-fit {
  width: fit-content;
}

/* .self-center {
  place-self: center;
} */
